.jqx-splitter-splitbar-vertical,
.jqx-splitter-splitbar-horizontal,
.jqx-splitter{
    border-width: 0px;
}
.sidebar,
#pane_main{
    height: 100%
}
.jqx-splitter-splitbar-vertical{
    position: absolute;
    z-index: 1000;
    cursor: e-resize !important;
}
#pane_main{
    margin-left: -6px;
    padding-right: 6px;
}
.jqx-splitter-splitbar-vertical{
    opacity: 0;
}
.jqx-splitter-splitbar-horizontal{
    background: rgba(62, 71, 76, 1);
    
}
.jqx-splitter-splitbar-hover{
    background: orange !important;
}
.jqx-splitter-collapse-button-vertical,
.jqx-splitter-collapse-button-horizontal{
    display: none;
}
#MainhorizontalSplitter{
    background: #283339;
}
#bottomPane{
    background: #283339;
}
#bottomPane .lm_tab .lm_title,
#bottomPane .lm_tab .lm_close_tab{
    padding: 4;
}
#bottomPane .lm_controls{
    display: none;
}
.Editor{
    height: 100%;
}
.drop-shadow {
    box-shadow: inset -30px 36px 25px -45px rgba(0, 0, 0, 0.75);
}
#Home_tab{
    background: radial-gradient(#40494e, #283339)!important;
    width: 100%;
    height: 100%;
}
#doc-search{
    color: #ccc!important;
}