.jqx-splitter-splitbar-vertical,
.jqx-splitter-splitbar-horizontal,
.jqx-splitter{
    border-width: 0px;
}
.sidebar,
#pane_main{
    height: 100%
}
.jqx-splitter-splitbar-vertical{
    position: absolute;
    z-index: 1000;
    cursor: e-resize !important;
}
#pane_main{
    margin-left: -6px;
    padding-right: 6px;
}
.jqx-splitter-splitbar-vertical{
    opacity: 0;
}
.jqx-splitter-splitbar-horizontal{
    background: rgba(62, 71, 76, 1);
    
}
.jqx-splitter-splitbar-hover{
    background: orange !important;
}
.jqx-splitter-collapse-button-vertical,
.jqx-splitter-collapse-button-horizontal{
    display: none;
}
#MainhorizontalSplitter{
    background: #283339;
}
#bottomPane{
    background: #283339;
}
#bottomPane .lm_tab .lm_title,
#bottomPane .lm_tab .lm_close_tab{
    padding: 4;
}
#bottomPane .lm_controls{
    display: none;
}
.Editor{
    height: 100%;
}
.drop-shadow {
    box-shadow: inset -30px 36px 25px -45px rgba(0, 0, 0, 0.75);
}
#Home_tab{
    background: radial-gradient(#40494e, #283339)!important;
    width: 100%;
    height: 100%;
}
#doc-search{
    color: #ccc!important;
}
#loader{
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #14243d 0%,#030611 100%);
    position: absolute;
    z-index: 10;
    /*display: inline-block; 
    padding: 30% 0;*/
}
.spinner {
    width: 40px;
    height: 40px;

    position: absolute;
    top: 70%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -30px; /* Half the height */
    margin-left: -20px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
#loader img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    margin-top: -45px; /* Half the height */
    margin-left: -45px;
    border-radius: 8px;
    box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.75);
}