@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto.ttf');
}
.doc-body .compactlist li{
    display: inline-block;
    width: 10em;
    list-style: none;
}
.doc-body{
    font-family: roboto;
    color: rgba(255, 255, 255, .7)!important;
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
}
.doc-body .credits{
     background: rgba(0, 0, 0, .1);
     padding: 15 10;
     margin-top: 30px;
     border-radius: 5px;
}
.doc-body p{
    font-weight: 400;
    font-family: roboto;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgba(255,255,255,.7);
    margin-bottom: 20px;
}
.doc-body h2{
    margin: 0;
    line-height: 100%;
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 23px;
    padding-top: 23px;
}
.doc-body code,
.doc-body kbd{
    background: rgb(51, 60, 66)!important;
    color: rgba(255, 255, 255, .7)!important;
    font-family: Consolas;
}
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: transparent;
} 
::-webkit-scrollbar-thumb {
    background: rgba(256,256,256, .3);
    border-radius: 1px;
}
::-webkit-scrollbar-corner{
    background: transparent;
}
.doc-body p{
    text-align: justify;
    text-indent: 1em;
}
.doc-body .my-thumbnail{
    padding: 4px;
    background-color: #293440;    
    border: 1px solid #444;
    border-radius: 2px;
    margin-bottom: 10px;
}
.credits .caption{
    opacity: .5;
}
table>thead>tr>th{
    background: #333C42;
}
table>tbody>tr>td,
table>tbody>tr>th,
table>tfoot>tr>td,
table>tfoot>tr>th,
table>thead>tr>td,
table>thead>tr>th{
    padding: 8px !important;
    border-top: 1px solid #555 !important;
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap;
}
table{
    border-collapse:collapse;    
    width: 100%
}
table>tbody>tr:nth-of-type(odd){
    background: #2F383E;
}